.search-bar{
    margin: 20px;
    text-align: center;
}

.search-bar input{
    width: 75%;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.video-item img{
    max-width: 64px;
}

.video-detail .details{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item:hover{
    background: #eee;
}
